<head>  
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>

<header class="bg-primary bg-gradient text-white py-5">
<div class="container">
  <div class="row">
    <div class="col-md-3 text-left text-md-center mb-3">
      <img class="rounded-circle img-fluid" src="assets/sheeesh.jpg"/>
    </div>
    <div class="col-md-9">
      <h1>{{name}}</h1>
      <h5>{{occupation}}</h5>
      <p class="border-top pt-3">{{introduction}}</p>
    </div>       
  </div>        
</div>
</header>

<nav class="bg-dark text-white-50 mb-5">
<div class="container">
 <div class="row p-3">

   <div class="col-md pb-2 pb-md-0">
      <a href="#about" class="text-white ml-2">About</a>
   </div>

   <div class="col-md pb-2 pb-md-0">
      <a href="#education" class="text-white ml-2">Education</a>
  </div>

  <div class="col-md pb-2 pb-md-0">
    <a href="#skills" class="text-white ml-2">Skills</a>
  </div> 

  <div class="col-md pb-2 pb-md-0">
    <a href="#achievements" class="text-white ml-2">Achievements</a>
  </div> 

  <div class="col-md pb-2 pb-md-0">
    <a href="#reference" class="text-white ml-2">References</a>
  </div>    
  </div>
</div>
</nav>

<main class="container">
<div class="row">
  <div class="col-md mb-5">
    <h2 class="mb-5" id="about">About</h2>
    <ul>
      <li>
        <h6 class="text-primary">1st Year College</h6>
        <p>{{about1}}</p>
      </li>
      <li>
        <h6 class="text-primary">2nd Year College</h6>
        <p>{{about2}}</p>
      </li>
      <li>
        <h6 class="text-primary">3rd Year College</h6>
        <p>{{about3}}</p>
      </li>
    </ul>
  </div>
  <div class="row">
    <h2 class="mb-5" id="education">Education</h2> 
    <ul>
      <li>
        <h6 class="text-primary">Elementary</h6>
        <p>{{school1}}</p>
      </li>
      <li>
        <h6 class="text-primary">Highschool and College</h6>
        <p>{{school2}}</p>
      </li>
    </ul>
  </div>     
</div>    
<div class="row">
  <div class="col-md mb-5">
    <h2 class="mb-5" id="skills">Skills</h2>      
    <div class="progress mb-4" style="height:25px;">
      <div class="progress-bar bg-primary text-left pl-2" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">Python</div>
    </div>       
    <div class="progress mb-4" style="height:25px;">
      <div class="progress-bar bg-primary text-left pl-2" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100">Java</div>
    </div> 
    <div class="progress mb-4" style="height:25px;">
      <div class="progress-bar bg-primary text-left pl-2" role="progressbar" style="width: 87%" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100">JavaScript</div>
    </div>       
    <div class="progress mb-4" style="height:25px;">
      <div class="progress-bar bg-primary text-left pl-2" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">HTML</div>
    </div>  
    <div class="progress mb-4" style="height:25px;">
      <div class="progress-bar bg-primary text-left pl-2" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100">CSS</div>
    </div>       
    <div class="progress mb-4" style="height:25px;">
      <div class="progress-bar bg-primary text-left pl-2" role="progressbar" style="width: 77%" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100">PHP</div>
    </div>
    <div class="progress mb-4" style="height:25px;">
      <div class="progress-bar bg-primary text-left pl-2" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Linux</div>
    </div> 
    <div class="progress mb-4" style="height:25px;">
      <div class="progress-bar bg-primary text-left pl-2" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">SEO</div>
    </div>
  </div>
  <div class="row">   
    <h2 class="mb-5" id="achievements">Achievements</h2>  
    <ul>
      <li>
        <h6 class="text-primary">2nd Year 2nd Semester Deans Lister</h6>
        <p>{{achievements1}}</p>
      </li>
      <li>
        <h6 class="text-primary">3rd Year 1st Semester Deans Lister</h6>
        <p>{{achievements2}}</p>        </li>
    </ul>
  </div>   
  <div class="col-md mb-5">
    <h2 class="mb-5" id="reference">Reference</h2>
    <ul>
      <li>
        <h6 class="text-primary">Yhapon John Carlo</h6>
        <p>{{relationship}}</p>
        <p>{{contact1}}</p>
      </li>
      <li>
        <h6 class="text-primary">Dayrit Carl Ivan</h6>
        <p>{{relationship}}</p>
        <p>{{contact1}}</p>
      </li>
      <li>
        <h6 class="text-primary">Bumanlag Alle Ross</h6>
        <p>{{relationship}}</p>
        <p>{{contact1}}</p>
      </li>
    </ul>
  </div>  
</div>
</main>

<footer class="bg-dark text-white-50 text-center mt-5 p-3">
&copy; {{footer}}
</footer>